/* n45 n49 n71 n76 n97 n109 n131 */
.clearfix::after { display: table; clear: both; content: ""; }
/* n1 n137 */
.visually-hidden { overflow: hidden; clip: rect(1px, 1px, 1px, 1px); width: 1px; height: 1px; overflow-wrap: normal; position: absolute !important; }
/* n1 */
.visually-hidden.focusable:active, .visually-hidden.focusable:focus { overflow: visible; clip: auto; width: auto; height: auto; position: static !important; }
/* n45 n128 n4 n36 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
/* n1 n9 n14 n16 n18 n20 n23 n25 */
a { background-color: transparent; }
/* n1 n9 n14 n16 n18 n20 n23 n25 */
a:active, a:hover { outline: 0px; }
/* n10 n58 */
img { border: 0px; }
/* n112 n113 n116 n117 n120 n123 n126 n127 */
table { border-collapse: collapse; border-spacing: 0px; }
/* n12 n21 */
ul.menu { margin-left: 1em; padding: 0px; list-style: outside none; text-align: left; }
/* n19 */
.menu-item--expanded { list-style-type: circle; list-style-image: url("/themes/contrib/classy/images/misc/menu-expanded.png"); }
/* n32 */
.menu-item--collapsed { list-style-type: disc; list-style-image: url("/themes/contrib/classy/images/misc/menu-collapsed.png"); }
/* n13 n15 n17 n19 n22 n24 n26 n28 */
.menu-item { margin: 0px; padding-top: 0.2em; }
/* n20 */
ul.menu a.is-active { color: rgb(0, 0, 0); }
/* n1 n2 n3 n4 n5 n6 n7 n8 */
*, ::before, ::after { box-sizing: border-box; }
/* n45 n128 n4 n36 */
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section { display: block; }
/* n72 n111 n115 n119 n122 n125 n77 n85 */
h1, h2, h3, h4, h5, h6 { margin-top: 0px; margin-bottom: 0.5rem; }
/* n50 n73 n78 n80 n82 n86 n88 n92 */
p { margin-top: 0px; margin-bottom: 1rem; }
/* n12 n21 n51 */
ol, ul, dl { margin: 0px 0px 1rem; padding: 0px; }
/* n1 n9 n14 n16 n18 n20 n23 n25 */
a { color: rgb(0, 123, 255); text-decoration: none; background-color: transparent; }
/* n1 n9 n14 n16 n18 n20 n23 n25 */
a:hover { color: rgb(0, 86, 179); text-decoration: underline; }
/* n10 n58 */
img { vertical-align: middle; border-style: none; }
/* n5 n39 n43 */
.container { width: 100%; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
/* n6 n40 n44 n47 n60 */
.row { display: flex; flex-wrap: wrap; margin-right: -15px; margin-left: -15px; }
/* n46 n48 n56 n59 n61 n63 n65 n67 */
.col-12, .col-sm-12, .col-md-3, .col-md-9, .col-md-12, .col-lg-3, .col-lg-9, .col-lg-12 { position: relative; width: 100%; padding-right: 15px; padding-left: 15px; }
/* n46 n48 n56 n59 n61 n63 n65 n67 */
.col-12 { flex: 0 0 100%; max-width: 100%; }
/* n72 */
h2 { color: rgb(134, 134, 134); font-family: georgia, times, serif; font-size: 24px; font-weight: normal; line-height: 34px; }
/* n111 n115 n119 n122 n125 */
h3 { color: rgb(0, 69, 124); font-family: georgia, times, serif; font-size: 18px; font-weight: normal; }
/* n12 n21 n51 */
ul { margin: 0px; list-style: inside; }
/* n77 n85 n91 n98 n103 */
h4 { color: rgb(0, 69, 124); font-family: georgia, times, serif; font-size: 16px; font-weight: normal; }
/* n1 n9 n14 n16 n18 n20 n23 n25 */
a:link, a:visited { color: rgb(204, 153, 51); text-decoration: none; }
/* n3 */
.layout-container { width: 100%; margin: 12px auto 20px; background: rgb(255, 255, 255); box-shadow: rgb(170, 170, 170) 8px 10px 8px; }
/* n4 */
.layout-container header { padding: 2px 14px 0px; }
/* n7 */
.layout-container header .region-header { width: 100%; float: left; }
/* n8 */
.layout-container header .region-header .block-system-branding-block { padding: 12px 0px; }
/* n11 */
.block-system-menu-blockmain { width: 100%; float: left; padding-bottom: 30px; }
/* n12 n21 */
.block-system-menu-blockmain ul.menu { background: url("/sites/commonwealth/themes/commonwealth/img/menu-bg.gif") 0px 0px no-repeat; height: 26px; margin: 0px; padding: 0px 0px 26px; width: 100%; position: relative; float: left; }
/* n13 n15 n17 n19 n22 n24 n26 n28 */
.block-system-menu-blockmain ul.menu li { float: left; list-style: none; padding: 7px 0px; }
/* n13 n15 n17 n19 n22 n24 n26 n28 */
.block-system-menu-blockmain ul.menu li:hover, .block-system-menu-blockmain ul.menu li.menu-item--active-trail { background: rgba(255, 255, 255, 0.2); }
/* n31 n35 */
.block-system-menu-blockmain ul.menu li:last-child a { border-right-width: medium; border-right-style: none; border-right-color: currentcolor; }
/* n14 n16 n18 n20 n23 n25 n27 n29 */
.block-system-menu-blockmain ul.menu li a { color: rgb(255, 255, 255); float: left; font-size: 12px; font-weight: bold; line-height: 12px; padding: 0px 40px; border-right: 1px solid rgb(255, 255, 255); }
/* n12 n21 */
.block-system-menu-blockmain ul.menu::after { width: 100%; content: ""; float: left; min-height: 30px; background: url("/sites/commonwealth/themes/commonwealth/img/submenu-bg.gif") 0px 100% repeat-x; }
/* n21 */
.block-system-menu-blockmain ul.menu li.menu-item--expanded.menu-item--active-trail ul.menu { display: block; background: transparent; height: 30px; line-height: 30px; padding: 0px 15px; position: absolute; left: 0px; top: 26px; width: 100%; float: left; }
/* n22 n24 n26 n28 n30 */
.block-system-menu-blockmain ul.menu li ul li { display: inline-block; float: none; padding: 0px; }
/* n23 n25 n27 n29 n31 */
.block-system-menu-blockmain ul.menu li ul li a { color: rgb(0, 68, 124); font-size: 12px; line-height: 30px; font-weight: normal; padding: 0px 10px; border-width: medium; border-style: none; border-color: currentcolor; border-image: none; }
/* n23 n25 n27 n29 n31 */
.block-system-menu-blockmain ul.menu li ul li a:hover { text-decoration: underline; }
/* n21 */
.block-system-menu-blockmain ul.menu li ul::after { background: none; min-height: 0px; }
/* n48 */
.content-top-right { padding-right: 4px; }
/* n49 */
.content-top-right .field--name-field-left-side-links { background: rgb(178, 178, 178); width: 100%; float: left; height: 100%; padding: 40px 40px 30px; }
/* n50 */
.content-top-right .field--name-field-left-side-links p { font-size: 13px; font-weight: bold; padding: 0px 0px 25px; margin: 0px; color: rgb(255, 255, 255); }
/* n52 n54 */
.content-top-right .field--name-field-left-side-links ul li { padding: 0px 0px 25px; list-style: none; }
/* n54 */
.content-top-right .field--name-field-left-side-links ul li:last-child { padding: 0px; }
/* n53 n55 */
.content-top-right .field--name-field-left-side-links ul li a { background: rgb(0, 69, 124); color: rgb(255, 255, 255); display: block; font-family: georgia, times, serif; font-size: 16px; line-height: 37px; text-align: center; }
/* n56 */
.cw-banner-image { padding-left: 0px; }
/* n58 */
.cw-banner-image img { width: 100%; }
/* n41 */
article.contextual-region, .region.region-content { width: 100%; float: left; }
/* n59 */
.content-banner-color { margin: 4px 0px 0px; }
/* n62 n64 n66 n68 */
.content-banner-color .banner-bg { width: 100%; height: 4px; background: red; display: block; }
/* n62 n64 n66 n68 */
.content-banner-color .banner-bg { background-color: rgb(128, 213, 255); }
/* n64 */
.content-banner-color .banner-bg.bg2 { background-color: rgb(189, 132, 186); }
/* n66 */
.content-banner-color .banner-bg.bg3 { background-color: rgb(230, 176, 15); }
/* n68 */
.content-banner-color .banner-bg.bg4 { background-color: rgb(185, 194, 31); }
/* n61 n63 n65 n67 */
.content-banner-color .col-12 { padding: 0px 2px; }
/* n61 */
.content-banner-color .col-12:first-child { padding: 0px 4px 0px 15px; }
/* n67 */
.content-banner-color .col-12:last-child { padding-right: 15px; }
/* n69 */
.cw-content-section { padding: 25px 25px 25px 14px; font-family: verdana, arial, sans-serif; width: 100%; float: left; }
/* n70 */
.cw-content-section .content-right-sec { width: 75%; float: right; }
/* n72 */
.cw-content-section .content-right-sec h2 { border-bottom: 1px solid rgb(204, 204, 204); line-height: 30px; margin: 0px 0px 20px; }
/* n45 */
.container > .row > article { width: 100%; float: left; }
/* n74 */
.content-right-sec-bottom { float: right; width: 75%; }
/* n77 n85 n91 n98 n103 */
.content-right-sec-bottom h4 { border-bottom: 1px solid rgb(204, 204, 204); margin: 0px 0px 15px; padding: 0px 0px 5px; }
/* n77 n78 */
.content-right-sec-bottom h4.special, .content-right-sec-bottom p.special, .content-right-sec-bottom p.note { margin-bottom: 0px; }
/* n75 */
.content-right-sec-bottom-left { width: 345px; float: left; }
/* n96 */
.content-right-sec-bottom-right { width: 315px; float: right; }
/* n79 */
.content-right-sec-bottom span.note { color: rgb(153, 153, 153); display: block; height: 15px; font-family: verdana; font-size: 9px; line-height: 15px; padding: 0px; }
/* n132 */
footer #footer { width: 100%; float: left; padding: 0px 14px 15px; }
/* n133 */
footer #footer p.links { margin: 5px 0px 0px; float: left; color: rgb(153, 153, 153); }
/* n134 n135 */
footer #footer p.links a { color: rgb(0, 68, 124); font-size: 11px; }
/* n136 */
footer #footer p.copy { color: rgb(153, 153, 153); font-size: 11px; float: right; margin: 5px 6px 0px 0px; }
/* n111 n115 n119 n122 n125 */
.popup-box h3 { color: rgb(0, 69, 124); margin: 0px; font-family: georgia, times, serif; font-size: 18px; font-weight: normal; padding: 0px 0px 15px; width: 91%; }
/* n112 n113 n116 n117 n120 n123 n126 n127 */
.popup-box table { font-size: 10px; color: rgb(102, 102, 102); font-family: verdana, arial, sans-serif; width: 100%; line-height: 1.1em; margin-bottom: 20px; }

@media (max-width: 767px) {
  /* n10 */
  .site-logo img { max-width: 270px; }
  /* n58 */
  .cw-banner-image img { height: auto; }
  /* n48 n56 n61 n67 */
  .content-top-right, .cw-banner-image, .content-banner-color .col-12:first-child, .content-banner-color .col-12:last-child { padding-right: 0px; padding-left: 0px; }
  /* n61 n63 n65 n67 */
  .content-banner-color .col-12 { padding-right: 0px; padding-left: 0px; flex: 0 0 25%; max-width: 25%; }
  /* n133 n136 */
  footer #footer p.links, footer #footer p.copy { width: 100%; margin-right: 0px; }
}

@media (max-width: 991px) {
  /* n74 n75 n96 */
  .content-right-sec-bottom, .content-right-sec-bottom-left, .content-right-sec-bottom-right, .popup-box .left, .popup-box .right { width: 100%; }
  /* n3 */
  .layout-container { margin: 0px; box-shadow: none; }
  /* n11 */
  .block-system-menu-blockmain { padding-bottom: 0px; position: relative; }
  /* n12 n21 */
  .block-system-menu-blockmain ul.menu { background: rgb(0, 69, 124); position: absolute; top: 0px; left: 0px; z-index: 9; padding: 15px 10px; height: 0px; overflow: hidden; visibility: hidden; transition: 0.26s ease-in-out; }
  /* n13 n15 n17 n19 n22 n24 n26 n28 */
  .block-system-menu-blockmain ul.menu li { width: 100%; padding: 0px; }
  /* n13 n15 n17 n19 n22 n24 n26 n28 */
  .block-system-menu-blockmain ul.menu li:hover { background: none; }
  /* n14 n16 n18 n20 n23 n25 n27 n29 */
  .block-system-menu-blockmain ul.menu li a:hover { background: rgba(255, 255, 255, 0.2); }
  /* n14 n16 n18 n20 n23 n25 n27 n29 */
  .block-system-menu-blockmain ul.menu li a { border-right-width: medium; border-right-style: none; border-right-color: currentcolor; font-size: 14px; padding: 7px 10px; display: block; width: 100%; }
  /* n23 n25 n27 n29 n31 */
  .block-system-menu-blockmain ul.menu li ul li a { color: rgb(255, 255, 255); font-size: 13px; }
  /* n12 n21 */
  .block-system-menu-blockmain ul.menu::after { min-height: auto; background: none; }
  /* n21 */
  .block-system-menu-blockmain ul.menu li.menu-item--expanded.menu-item--active-trail ul.menu { position: inherit; background: transparent; height: auto; padding: 0px 10px; }
  /* n4 */
  .layout-container header { padding: 0px; }
  /* n70 n74 */
  .cw-content-section .content-left-sec, .cw-content-section .content-right-sec, .content-right-sec-bottom { width: 100%; float: left; }
  /* n22 n24 n26 n28 n30 */
  .block-system-menu-blockmain ul.menu li ul li { display: block; float: left; padding: 0px; width: 100%; }
}

@media (min-width: 576px) {
  /* n46 n48 n56 n59 n61 n63 n65 n67 */
  .col-sm-12 { flex: 0 0 100%; max-width: 100%; }
}

@media (min-width: 768px) {
  /* n48 n61 n63 n65 n67 */
  .col-md-3 { flex: 0 0 25%; max-width: 25%; }
  /* n56 */
  .col-md-9 { flex: 0 0 75%; max-width: 75%; }
  /* n46 n59 */
  .col-md-12 { flex: 0 0 100%; max-width: 100%; }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* n49 */
  .content-top-right .field--name-field-left-side-links { padding: 40px 15px 30px; }
}

@media (min-width: 992px) {
  /* n48 n61 n63 n65 n67 */
  .col-lg-3 { flex: 0 0 25%; max-width: 25%; }
  /* n56 */
  .col-lg-9 { flex: 0 0 75%; max-width: 75%; }
  /* n46 n59 */
  .col-lg-12 { flex: 0 0 100%; max-width: 100%; }
  /* n3 */
  .layout-container { max-width: 965px; }
}

@-webkit-keyframes animate-stripes { 
  0% { background-position: 0px 0px, 0px 0px; }
  100% { background-position: 0px 0px, -80px 0px; }
}

@keyframes animate-stripes { 
  0% { background-position: 0px 0px, 0px 0px; }
  100% { background-position: 0px 0px, -80px 0px; }
}

@keyframes onetrust-fade-in { 
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes slide-down-custom { 
  0% { }
  100% { bottom: 0px; }
}

@-webkit-keyframes slide-down-custom { 
  0% { }
  100% { bottom: 0px; }
}